.shop{
  display: flex;
  flex-direction: row;
}

/*products*/

.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.product {
  border-radius: 15px;
  width: 200px;
  height: 250px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  width: 200px;
}

.product .description {
  text-align: center;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBtn {
  background-color: #ffd812;
  color: black;
  border: none;
  width: 200px;
  height: 31px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.addToCartBtn:hover {
  background-color: #f7ca00;
  cursor: pointer;
}

@media (max-width: 650px) {
  .footer {
    display: none;
  }

  
}