.shop{
  display: flex;
  flex-direction: row;
}

/*products*/

.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.product {
  border-radius: 15px;
  width: 200px;
  height: 250px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  width: 200px;
}

.product .description {
  text-align: center;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBtn {
  background-color: #ffd812;
  color: black;
  border: none;
  width: 200px;
  height: 31px;
  padding: 5px 10px;
  border-radius: 15px;
}

.addToCartBtn:hover {
  background-color: #f7ca00;
  cursor: pointer;
}

@media (max-width:1280px) {
  
  .product {
    margin: 80px;
  }
}

@media (max-width:1024px) {
  
  .product {
    margin: 50px;
  }

  .addToCartBtn {
    width: 150px;
    height: 31px;
    padding: 5px 10px;
    border-radius: 15px;
  }

  .product img {
    width: 100px;
  }
}

@media (max-width:800px) {
  
  .products {
    grid-template-columns: 1fr 1fr;
  }

  .product {
    margin: 10px;
    width: 200px;
    height: 250px;
  }

  .product img {
    width: 100px;
  }

  .addToCartBtn {
    width: 100px;
    height: 20px;
    padding: 2px 5px;
    border-radius: 15px;
  }
}