.navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(19, 19, 19);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
}

.shopTitle {
  font-size: 25px;
  color: #febd68;
  padding: 40px;
  font-weight: lighter;
}

/* search bar*/

.searchBar{
  margin-left: 50px;
}

.searchInput{
  width: 500px;
  height: 40px;
  border: none;
  border-radius: 5px 0px 0px 5px;
}

.searchBtn{
  vertical-align: middle;
  width: 50;
  height: 40px;
  background-color: #febd68;
  border: none;
  border-radius: 0px 5px 5px 0px;
}
.searchBtn:hover{
  background-color: #bbb;
  cursor: pointer;
}