.navbar {
  width: 100%;
  height: 80px;
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.shopTitle {
  font-size: 30px;
  color: #febd68;
  padding: 20px;
  font-weight: lighter;
}

/* search bar*/

.searchBar{
  display: flex;
  align-items: center;
}

.searchInput{
  width: 693px;
  height: 40px;
  border: none;
  border-radius: 5px 0px 0px 5px;
}

.searchBtn{
  vertical-align: middle;
  width: 50px;
  height: 40px;
  background-color: #febd68;
  border: none;
  border-radius: 0 5px 5px 0;
}
.searchBtn:hover{
  background-color: #bbb;
  cursor: pointer;
}

.nav-login-cart{
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-login-cart button{
  width: 80px;
  height: 35px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 20px;
  color: #111;
  font-size: 20px;
  font-weight: lighter;
  background: #febd68;
  cursor: pointer;
}

.nav-login-cart button:active{
  background: #ffd812;
}

.nav-cart-count{
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background: #ffd812;
  color: #111;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }

  .links {
    margin: 20px 0;
  }

  .links a {
    margin: 10px 0;
    font-size: 20px;
  }
}